.waterloader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.waterloader-wrapper.hide {
  opacity: 0;
  pointer-events: none;
}

.lottie-animation {
  width: 50vw;
  height: 50vh;
  opacity: 1;
}

.waterloader-wrapper.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}
